<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>High School Graduate</h1>
            <span>Mahomet-Seymour High School</span>
            <span><address>Mahomet, Il</address><time>2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Major in Mathematics</h1>
            <span>Parkland College and University of Illinois</span>
            <!--<span><address>London, UK</address><time>2007 to 2011</time></span>-->
        </header>
    </article>
</section>
