<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Peer Tutor - Parkland College</h1>
            <span><address>Champaign, Il</address><time>2019 to Present</time></span>
        </header>
        <p>Subjects: Calc I-III, Stats, Physics Mechanics, Physics Electromagnetism, Java, Python, 
            Data Structures, Chemistry, Excel </p>
    </article>
    <article>
        <header>
            <h1>Physics Student Teacher - Exelon Summer Institute</h1>
            <span><address>Chicago, Il</address><time>Summer 2017</time></span>
        </header>
        <p>Created and taught an intro to physics mechanics course with lab. The course was part of a summer program 
        for incoming college freshman at the Illinois Institute of Technology.</p>
    </article>
    <article>
        <header>
            <h1>Experiment Facilitator - Museum Of Science and Industry</h1>
            <span><address> Chicago, Il</address><time>2016</time></span>
        </header>
        <p>Conducted and presented experiments in the rotunda as a volunteer. Each experiment was focused on 
        audience participation, scientific exploration, and promoting curiosity.</p>
    </article>
    <article>
</section>
